# General configuration options
# Copyright (c) 2014-2015 Wind River Systems, Inc.
# SPDX-License-Identifier: Apache-2.0

config TOGGLEDRIVER
    bool "toggle driver by Usman Ali Butt"
	default y
    help
		Enable GPIO driver GPIOX

module = TOGGLEDRIVER
module-str = toggledriver
source "subsys/logging/Kconfig.template.log_config"	  